body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Space Mono', monospace;
}

h1{
  font-family: 'Open Sans';
   font-weight: 10;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
